table {
  position: absolute;
  top: 10%;
  left: 30%;
}


td {
  border: 1px solid black;
  width: 150px;
  height: 150px;
}

img {
  padding-left: 20px;
  margin: auto;
  opacity: 0;
}

img:hover {
  opacity: 1;
}
