ul li:nth-child(n+4):nth-child(-n+6){
    text-decoration: line-through;
}

ul li:nth-child(n+4):nth-child(3n+2){
    font-family: "Courier New", Times, serif;
}

ol li:nth-child(n+4):nth-child(4n){
    background-color: #FFFF00;
}

ol li:nth-last-child(-n + 4) {
  color: cornflowerblue;
  font-size: 18px;
}

#firstPara {
  text-align: right;
}

#secondPara {
  text-align: left;
}

.firstDiv {
  overflow: auto;
  clear: both;
}

div > p:first-child {
  background-color: 
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}
td {
  padding: 20px;
}
th {
    text-align: left;
}

tr:nth-child(odd) {
  background: #CCC
}
.tab tr:nth-last-child(-n+3) {
  background: green;
}

td:empty {
    background: #ff0000;
}

p:not(.announcements) {
  font-weight: bold;
}

img:nth-child(2):hover { 
  border: 2px solid green;
}

a:visited:not(link) {
  color: green;
}
a:link {
  color: red;
}

a[href*='//']{
  color: purple;
}
