#imgDiv {
  display: relative;
  overflow: hidden;
  position: absolute;
  top: 50px;
  left: 510px;
  padding-left: 352px;
  padding-top: 352px;
}

h3 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  top: 0px;
  left: 0px;
  width: 350px;
  height: 350px;
  position: absolute;
}
span {
  position: absolute;
  top: 7.6%;
  left: 37.4%;
}
#left {
  margin-left: 5.5%;
  padding-left: 280px;
  padding-top: 25.6%;
  z-index: 500;
  /*background: red;*/  
}

#right {
  padding-right: 180px;
  padding-top: 350px;
  z-index: 500;
  /*background: green;*/
}